<label for="cars">Choose a car </label>
<select id="cars" name="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>

<hr>

<div 
  class="demo1" 
  (mouseup)="mouseupdiv()" 
  (mousedown)="mousedowndiv($event.offsetX, $event.offsetY)" 
  (mouseout)="mouseoutdiv()" 
  (wheel)="mousewheeldiv($event)"
  (touchstart)="tocastart($event)"
  (touchend)="tocaend($event)"
>
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="500" [attr.transform]="'translate(' + move + ')'" > -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="500" [attr.transform]="'scale(' + size + ')'" > -->
<svg
      xmlns="http://www.w3.org/2000/svg" 
      width="1000" 
      height="500" 
      [attr.viewbox]="vbx + ' ' + vby + ' 2000 1000'"  
      [attr.transform]="' scale(' + size + ')' + ' translate(' + movex + ',' +  movey + ')'"
>

    <rect x="0" y ="0" width="100%" height="200" style="fill:rgb(165, 165, 170);stroke-width:0;stroke:rgb(0,0,0)" />
    
    <line x1= "64" y1="100" x2="200" y2="100" style="stroke:rgb(255,0,0);stroke-width:20;opacity:50%;" stroke-linecap="round" />
    <circle cx="64" cy="100" r=10 style="fill:red;opacity:50%;" />

    <line x1="200" y1="100" x2="300" y2="100" style="stroke:yellow;stroke-width:20;opacity:50%;" stroke-linecap="round" />
    <line x1="300" y1="100" x2="450" y2="100" style="stroke:green;stroke-width:20;opacity:50%;" stroke-linecap="round" />
    <line x1="450" y1="100" x2="550" y2="100" style="stroke:green;stroke-width:20;opacity:50%;" stroke-linecap="round" />
    <line x1="550" y1="100" x2="750" y2="100" style="stroke:green;stroke-width:20;opacity:50%;" stroke-linecap="round" />
    <circle cx="750" cy="100" r=10 style="fill:green;opacity:50%;" />
    
    <line x1="330" x2="330" y1="0" y2="200" style="stroke:gray;stroke-width:20;opacity:20%;" />
    <circle cx="330" cy="100" r=5 style="fill:whitesmoke;opacity:50%;" />

    <line x1="355" x2="355" y1="0" y2="200" style="stroke:gray;stroke-width:20;opacity:20%;" />
    <circle (click)="click_pelotita_que_se_agranda($event)" (mouseleave)="raa=5" (mouseenter)="raa=7" cx="355" cy="100" [attr.r]="raa" style="fill:whitesmoke;opacity:50%;" />

    <line x1="110" x2="110" y1="0" y2="200" style="stroke:gray;stroke-width:20;opacity:20%;" />
    <a href="https://www.youtube.com">
        <circle cx="110" cy="100" r=5 style="fill:whitesmoke;opacity:50%;" />
    </a>

    Su navegador no soporta SVG :( basuuu
</svg>
</div>

<div class="botonera">
  <button (click)="movey = movey - 1">Arriba</button>
</div>
<div class="botonera">
  <button (click)="movex = movex - 1">Izquierda</button>
  <button (click)="movex = movex + 1">Derecha</button>
</div>
<div class="botonera">
  <button (click)="movey = movey + 1">Abajo</button>
</div>

<ul>
  <li *ngFor="let evento of eventos.reverse(); let i = index">
    {{ i + 1 }} - {{ evento }}
  </li>
</ul>